{% load static %}
<script src="{% static 'dist/libs/jquery/jquery.js' %} "></script>
<script src="{% static 'dist/libs/bootstrap/bootstrap.5.0.0.js' %} "></script>
<script src="{% static 'dist/libs/font-awesome/font-awesome.min.js' %} "></script>
<script src="{% static 'dist/js/main.js' %} "></script>
<script src="{% static 'dist/js/menu.js' %} "></script>
<script src="{% static 'dist/js/imagesloaded.min.js' %} "></script>
<script src="{% static 'dist/js/isotope.min.js' %} "></script>
<script src="{% static 'dist/libs/new-year/script.js' %} "></script>
<script src="{% static 'dist/libs/slick-1.8.1/slick.min.js' %} "></script>
<script src="{% static 'dist/js/wow.min.js' %} "></script>
<script src="{% static 'dist/js/core-slider.js' %} "></script>