.header {
  background-image: url("../images/bg/pattern.png");
  background-color: $--bs-official;
  margin-top: 0 !important;
  &__title {
    & .desc-body {
      color: $--bs-white;
    }
    & .btn {
      background-color: $--bs-white;
      color: $--bs-official;
      &:hover {
        color: $--bs-white;
      }
    }
  }
}