{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %}{% trans 'История создания и развития учебного заведения' %}{% endblock %}

{% block content %}
    <section class="section history">
        <div class="container">
            <div class="title animate__animated animate__fadeInUp">
                <span>{% trans 'О колледже' %}</span>
                <h3>{% trans 'История создания и развития учебного заведения' %}</h3>
            </div>
            <div class="history-text animate__animated animate__fadeInUp">
                <p>
                    {% blocktranslate %}Кыргызская Республика расположена в горной местности. Более 95% перевозок грузов и пассажиров осуществляется автомобильным транспортом и часть железнодорожным. Поэтому республика нуждалась в подготовке специалистов среднего звена, владеющих навыками обслуживания, эксплуатации автотранспорта и строительства автомобильных и железных дорог.{% endblocktranslate %}
                </p>
                <p>
                    {% blocktranslate %}В 1939 году при Фрунзенском индустриальном техникуме было создано автомобильное отделение из одной группы, которое готовило механиков по техническому обслуживанию и ремонту автомобилей. Первый выпуск из 14 человек состоялся в 1942 году. Трасса Бишкек-Ош{% endblocktranslate %}
                </p>
                <img src="{% static 'dist/images/college/HY2343.webp' %}" style="max-width: 500px; width: 100%" class="mr-4 mt-3" alt="" align="left" height="auto">
                <p>
                    {% blocktranslate %}
                        В это время потребность в специалистах автодорожного направления была настолько велика,
                        несмотря на то, что шла Великая Отечественная война,
                        в 1943 году был создан самостоятельный автомобильно-дорожный техникум.
                        Руководителем новой кузницы кадров для автомобильной и дорожной отраслей стал Г. А. Светличный.
                        Первоначально техникум размещался в городе Фрунзе в одном из помещений напротив табачной фабрики,
                        а затем — до 1946 года – находился в здании железнодорожного вокзала.
                        Здесь учились будущие преподаватели техникума П.К. Денисов, Т. У. Умарбеков, Д.У., Убышев.
                        В 1946 году техникум был переведен на первый этаж нынешнего архитектурно строительного колледжа.
                        А через год техникум преобразовали в автомобильное отделение строительно-индустриального техникума,
                        который был передан в ведение Министерства строительства Киргизской ССР.
                        <br>Прошло несколько лет и стало очевидным, что существующая система профессиональной подготовки специалистов среднего звена в области автотранспорта и дорожного хозяйства не удовлетворяет потребностям республики.
                    {% endblocktranslate %}
                </p>
                <img src="{% static 'dist/images/college/HY3423.webp' %}" style="max-width: 300px; width: 100%" class="mr-4 mt-3" alt="" align="left" height="auto">
                <p>
                    {% blocktranslate %}
                        Идея возрождения автомобильно-дорожного техникума принадлежала министру автотранспорта и шоссейных дорог республики Кусаину Кольбаеву.
                        В соответствии с Постановлением Совета Министров СССР от 29 июня 1954г. № 1294
                        «О подготовке инженерно-технических кадров для автомобильного транспорта и дорожного хозяйства» Совет Министров Киргизской ССР постановляет:
                        «Обязать Министерство автомобильного транспорта и шоссейных дорог Киргизской ССР:
                        1. Обеспечить окончание строительства учебного корпуса автомобильно-дорожного техникума в г.Фрунзе и ввод в его в действие с 1 сентября 1957 года;
                        2. Открыть в 1957 году в г. Фрунзе автомобильно-дорожный техникум первой категории по специальностям:
                        Эксплуатация и ремонт автомобильного транспорта;
                        Дорожные машины и оборудование;
                        Строительство и эксплуатация автомобильных дорог и мостов». Председатель Совета Министров Киргизской ССР А.Суеркулов.»
                    {% endblocktranslate %}
                </p>
                <p>
                    {% blocktranslate %}
                        Для реализации этой задачи, Постановлением Совета Министров Киргизской ССР за №209 от 19 июня 1957 года в г.
                        Фрунзе создаётся автомобильно-дорожный техникум первой категории.
                        Был объявлен прием по названным выше специальностям. 1957 год считается годом образования нашего колледжа.
                        Постановлением Правительства Кыргызской Республики от 22 декабря 1997 г.
                        №743 техникум переименован в Бишкекский автомобильно-дорожный техникум им. Кусаина Кольбаева.
                    {% endblocktranslate %}
                </p>
                <img src="{% static 'dist/images/college/HY3422.webp' %}" style="max-width: 300px; width: 100%" class="mr-4 mt-3" alt="" align="left" height="auto">
                <p>
                    {% blocktranslate %}
                        «Первый инженер» — так называли Кольбаева К.К., на всех постах, куда бы его не направляли и не выдвигали,
                        он проявлял себя как умелый организатор и грамотный специалист,
                        внес огромный вклад в развитие и укрепление материально-технической базы транспортного и дорожного хозяйств Кыргызстана.
                        Большое внимание Кусаин Кольбаев уделял подготовке и обучению квалифицированных кадров.
                        Память о «Первом инженере» вызывает у нас особое чувство гордости,
                        а также обязывает всех работников автотранспортного и дорожного хозяйств трудиться добросовестно и грамотно,
                        как работал всю жизнь верный сын Кыргызстана — Кольбаев Кусаин Кольбаевич.
                        Кольбаев Кусаин Кольбаевич родился 25 ноября 1908 года.
                        В 1925 году он в числе первых комсомольцев Киргизии был направлен на учебу в город Тверь.
                        В 1930 году поступил в Ленинградский институт путей сообщения на автомобильно-дорожный факультет.
                    {% endblocktranslate %}
                </p>
                <p>
                    {% blocktranslate %}
                        Кольбаев Кусаин Кольбаевич родился 25 ноября 1908 года.
                        В 1925 году он в числе первых комсомольцев Киргизии был направлен на учебу в город Тверь.
                        В 1930 году поступил в Ленинградский институт путей сообщения на автомобильно-дорожный факультет.
                    {% endblocktranslate %}
                </p>
                <p>
                    {% blocktranslate %}
                        Следует отметить, что Кусаин Кольбаев вошел в историю и как человек,
                        который развил сеть автомобильных дорог и автотранспортных предприятий,
                        называемых в простонародье «автобазы».
                        Благодаря его профессионализму и настойчивости в нашей стране появились транспортные развязки
                        республиканского значения: Бишкек — Талас, Бишкек — Ош. Самые трудные и сложные годы были пятидесятые:
                        практически ни одного метра автомобильной дороги с твердым покрытием,
                        а все крупные мостовые переходы — деревянные и временные, все дорожные работы велись вручную,
                        не хватало техники. Кольбаев полностью себя отдавал труду.
                        За 17 лет он смог практически всю республику обеспечить дорожными развязками с твердым покрытием,
                        создал крупные железобетонные предприятия. В общем, Кусаин Кольбаев сделал невозможное возможным.
                        За годы его работы построили дороги Бишкек — Рыбачье — Нарын — Торугарт (550 км),
                        трассы вокруг озера Иссык-Куль (450 км), Талдысу — Санташ — Каркыра (100 км),
                        Нарын — Акталчат — Коштюбе — Казарман (250 км), горные перевалы и многое другое.
                        Именно при нем были проложены основные артерии экономики страны:
                        Бишкек — Ош, Бишкек — Торугарт, Бишкек – Талас.
                    {% endblocktranslate %}
                </p>
            </div>
        </div>
    </section>
{% endblock %}