{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %}{% trans 'История создания и развития учебного заведения' %}{% endblock %}

{% block content %}
    <section class="section history">
        <div class="container">
            <div class="title animate__animated animate__fadeInUp">
                <span>{% trans 'О колледже' %}</span>
                <h3>{% trans 'История создания и развития учебного заведения' %}</h3>
            </div>
            <div class="history-text animate__animated animate__fadeInUp">
            </div>
        </div>
    </section>
{% endblock %}